<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.dol.childlabor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:enabled="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TabbedCountryListActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_country_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".CountryViewActivity"
            android:exported="false"
            android:label="@string/title_activity_country_view"
            android:launchMode="singleTop"
            android:parentActivityName=".TabbedCountryListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.TabbedCountryListActivity" />
        </activity>
        <activity
            android:name=".TabbedGoodListActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_good_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".GoodViewActivity"
            android:exported="false"
            android:label="@string/title_activity_good_view"
            android:parentActivityName=".TabbedGoodListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.TabbedGoodListActivity" />
        </activity>
        <activity
            android:name=".TabbedExploitationTypeListActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_exploitation_type_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MoreInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MoreInfoActivity" />
        </activity>
        <activity
            android:name=".MethodologyActivity"
            android:exported="false"
            android:label="@string/title_activity_methodology"
            android:parentActivityName=".MoreInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MoreInfoActivity" />
        </activity>
        <activity
            android:name=".FactsheetActivity"
            android:exported="false"
            android:label="@string/title_activity_factsheet"
            android:parentActivityName=".MoreInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".SuggestedActionsActivity"
            android:exported="false"
            android:label="@string/title_activity_suggested_actions"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".activities.IlabProjectsActivity"
            android:exported="false"
            android:label="@string/title_activity_ilab_projects"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:exported="false"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".ConventionActivity"
            android:exported="false"
            android:label="@string/title_activity_convention"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".LegalStandardActivity"
            android:exported="false"
            android:label="@string/title_activity_legal_standard"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".FullReportActivity"
            android:exported="false"
            android:label="@string/title_activity_full_report"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".ExploitationTypeListSpinnerActivity"
            android:exported="false"
            android:label="@string/title_activity_exploitation_type_list_spinner"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".TabbedGoodListSpinnerActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_good_list_spinner"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".TabbedCountryListSpinnerActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_country_list_spinner"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".MechanismActivity"
            android:exported="false"
            android:label="@string/title_activity_mechanism"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".BetaLegalStandardActivity"
            android:exported="false"
            android:label="@string/title_activity_beta_legal_standard"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".TabbedEnforcementActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_enforcement"
            android:parentActivityName=".CountryViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.CountryViewActivity" />
        </activity>
        <activity
            android:name=".MoreInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_more_info"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".ToolKitActivity"
            android:exported="false"
            android:label="Comply Chain App"
            android:launchMode="singleTop"
            android:parentActivityName=".MoreInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".MenuMain"
            android:exported="false"
            android:label="More Info"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".charts.HalfPieChartActivity"
            android:exported="false"
            android:label="More Info"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".charts.PieChartActivity"
            android:exported="false"
            android:label="More Info"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".charts.ChartsListActivity"
            android:exported="false"
            android:label="Data Visualizations"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".charts.DataVisualizationActivity"
            android:exported="false"
            android:label="Proportional Area Chart"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".charts.GoodsBySectorChartActivityNew"
            android:exported="false"
            android:label="Data Visualizations"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
        <activity
            android:name=".charts.AssessmentLevelsChart"
            android:exported="false"
            android:label="Data Visualizations"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gov.dol.childlabor.MainActivity" />
        </activity>
    </application>

</manifest>